{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        extra_return,
        missing_return,
        underspecs
        % overspecs, specdiffs
    ]}
]}.

{alias, [
    {format, [
        {do, "default as format fmt -w"}
    ]},
    {format_check, [
        {do, "default as format fmt -c"}
    ]},
    {run_tests, [
        {ct, "--sname=ct1"}
    ]},
    {cover_tests, [
        {ct, "--sname=ct1 --cover"}
    ]},
    {docs, [
        {do, "ex_doc"}
    ]},
    {publish_to_hex, [
        {do, "default as publish_to_hex hex publish --revert 0.0.1"}
    ]},
    {all, [
        format,
        run_tests,
        xref,
        dialyzer
    ]}
]}.

{profiles, [
    {format, [
        {plugins, [erlfmt]}
    ]},
    {test, [
        {deps, [
            {logger_debug_h, "0.2.0"},
            {meck, "0.9.2"}
        ]},
        {plugins, [
            {rebar3_codecov, "0.6.0"}
        ]}
    ]}
]}.

{plugins, [rebar3_ex_doc, hex]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/cets">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
