{dialyzer, [
    {warnings, [
        unknown,
        no_return,
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        no_contracts,
        no_behaviours,
        no_undefined_callbacks,
        unmatched_returns,
        error_handling,
        underspecs
        % overspecs, specdiffs
    ]}
]}.

%% Enables "rebar3 fmt" command
{project_plugins, [erlfmt]}.

{profiles, [
    {test, [
        {plugins, [
            {rebar3_codecov, "0.4.0"}
        ]}
    ]}
]}.
