{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        underspecs
        % overspecs, specdiffs
    ]}
]}.

{profiles, [
    {test, [
        {plugins, [
            {rebar3_codecov, "0.5.0"}
        ]},
        %% Include test suites into the cover report
        %% so we would know about not-called testcases
        {src_dirs, ["src", "test"]}
    ]},
    {format, [
        {plugins, [
            erlfmt
        ]}
    ]},
    {grad, [
        {plugins, [
            {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
        ]}
    ]}
]}.
